body {
  max-width: 940px;
  margin: 0 auto;
  font-family: sans-serif;
  color: #333;
  background-color: #eee;
}

div {
  padding: 1rem;
  background-color: #fff;
}

img {
  max-width: 200px;
}
form {
  /* margin: 1rem; */
}
input,
textarea {
  font-size: 1rem;
  display: block;
  margin: 1rem 0;
  width: 90%;
  padding: 0.5rem;
}
button {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
  background: #007eb6;
}
